<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/ad_exame.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <meta charset="UTF-8">
    <title>Adicionar Exame</title>
</head>

<body>
    <div>
        <nav class="navbar navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav navbar-brand">
                        <li>
                            <a>Welcome to Medcare</a>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"> 'Nome do User'</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div align="center">
        <img src="img/medcare_logo.png" alt="MedCare Logo">
        <br>
        <h2>Adicionar Exame</h2>
        <br>
    </div>

    <form>
        <div>
            <div>
                <div class="col-xs-6" id="nome_exame">
                    <label> Exame:</label>
                    <input type="text" class="form-control" name="nome_exame" placeholder="Nome do Exame">
                </div>
            </div>

            <div class="form-group">
                <div class="col-xs-6" id="descricao">
                    <label> Descrição:</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="text-center">
            <button type="submit" class="btn btn-default">Adicionar</button>
        </div>
    </form>

</body>