<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/ad_exame.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <meta charset="UTF-8">
    <title>Exame de Doente</title>
</head>

<body class="text-center">
    <div>
        <nav class="navbar navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav navbar-brand">
                        <li>
                            <a>Welcome to Medcare</a>
                        </li>
                        <li>
                            <a href="#">Contacts</a>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"> 'Nome do User'</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <img src="img/medcare_logo.png" alt="MedCare Logo">
        <br>
        <h2>Exame do Doente</h2>
        <br>
    </div>

    <form>
        <div class="col-xs-4" id="id_doente">
            <label> Doente:</label>
            <input type="text" class="form-control" placeholder="Doente">
        </div>
        <br>
        <br>
        <br>
        <br>
        <div>
            <div class="col-xs-2" id="tipo_exame">
                <label> Exame:</label>
                <select class="form-control">
                    <option></option>
                    <option>Triagem</option>
                    <option>Consultas</option>
                    <option>Exames</option>
                    <option>Recepção</option>
                    <option>Administração</option>
                </select>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="form-group">
            <div class="col-xs-6" id="observacoes">
                <label> Observações:</label>
                <textarea class="form-control" rows="5"></textarea>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-default"> Confirmar</button>
        </div>
    </form>

</body>

</html>