<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/relatorio.css">
    <link rel="stylesheet" href="bootstrap/bootstrap.css">
    <meta charset="UTF-8">
    <title>Gerar/Visualizar Relatórios</title>
</head>

<body class="text-center">
    <div>
        <nav class="navbar navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav navbar-brand">
                        <li>
                            <a>Welcome to Medcare</a>
                        </li>
                        <li>
                            <a href="#">Contacts</a>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"> 'Nome do User'</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <img src="img/medcare_logo.png" alt="MedCare Logo">
        <br>
        <h2>Gerar/ Visualizar Relatórios</h2>
        <br>
    </div>

    <form>
        <div>
            <div class="col-xs-2" id="id_doente">
                <label> Doente:</label>
                <select class="form-control">
                    <option></option>
                    <option></option>
                </select>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div>
            <div class="text-center">
                <button type="submit" class="btn btn-default"> Gerar/Visualizar Relatórios</button>
            </div>
        </div>
    </form>
</body>


</html>