<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="bootstrap/bootstrap.css">
    <meta charset="UTF-8">
    <title>MedCare</title>
</head>

<body class="text-center">
    <div>
        <nav class="navbar navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <ul class="nav navbar-nav navbar-brand">
                        <li>
                            <a>Welcome to Medcare</a>
                        </li>
                        <li>
                            <a href="#">Contacts</a>
                        </li>
                    </ul>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#"> 'Nome do User'</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        <img src="img/medcare_logo.png" alt="MedCare Logo">
    </div>
    <div class="background">
        <div class="vertical-menu">
            <a href="#" class="active">Funções</a>
            <a href="#">Adicionar Exame</a>
            <a href="#">Adicionar Doente</a>
            <a href="#">Adicionar Funcionário</a>
            <a href="#">Gerar/Visualizar relatórios</a>
            <a href="#">Editar/Remover Funcionário</a>
          </div> 
        <br>
        <br>
    </div>


</body>

</html>