<!DOCTYPE html>
<html lang="pt">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Registo_Inicial</title>
</head>

<body>

    <div align="center">
        <img src="/img/medcare_logo.png" alt="MedCare Logo">
        <br>
    </div>
    <div>
        <h2>Efetue aqui o seu registo. </h2>
        <form>
            <div class="form-group">
                Nome:
                <br>
                <input type="text" class="form-control" name="nome" placeholder="Escreva aqui o seu nome">
            </div>
            <br>
            <div>
                Idade:
                <br>
                <input type="number" class="form-control" name="idade" maxlength="2" placeholder="Indique a sua idade">
            </div>
            <br>
            <div>
                Género:
                <select>
                    <option value="masculino">Masculino</option>
                    <option value="feminino">Feminino</option>
                    <option value="outro">Outro</option>
                </select>
            </div>
            <br>
            <div>
                Morada:
                <br>
                <input type="text" class="form-control" name="morada" placeholder="Escreva a sua morada">
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-default">Submeter!</button>
            </div>

        </form>
    </div>
</body>
<footer>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="contactos.html">Contactos</a>
                </li>

            </ul>
        </div>
    </nav>
</footer>

</html>